
if !posts
  p Sorry there are currently no posts. Feel free to add one!
else
  ul(class='browse-list')
    each post in posts
      - var postId = post._id
        a(href='/singlepost?id=' + postId): li #{post.title} | $#{post.price}/MO
  if nextLink
    a(href='/browse?page=' + nextLink): p Next Page
if prevLink
  a(href='/browse?page=' + prevLink): p Prev Page 
