
if !posts
  p Sorry there are currently no recent posts in your area. Feel free to add one!
else
  ul(class='browse-list')
    each post in posts
      - var postId = post._id
        a(href='/singlepost?id=' + postId): li #{post.title} | $#{post.price}/MO
  if prevLink
    a(href='/browse?page=' + prevLink + '&city='+ city + '&zipOrPostal=' + zipOrPostal): p(class='pagBtn') Prev Page 
  if nextLink
    a(href='/browse?page=' + nextLink + '&city='+ city + '&zipOrPostal=' + zipOrPostal): p(class='pagBtn') Next Page
