
div(class='secondary-content')
  h1 How it works: (Hint: It's actually pretty simple!)
  div(class='image-container')
  p Our goal at motospot is to connect riders who lack sufficient 
    | storage for their motorcycle, with people who have an extra spot to accomodate your ride. 
    | Whether its time to winterize your ride for a couple months, just leaving
    | town for a few weeks, or you want regular access to proper storage,
    |  Motospot can help you find the right storage arrangements for you and your ride!
    

div(class='secondary-border secondary-content')
  h1 Find storage for your ride!
  div(class='find-storage-pics')
    img(src='../images/main.png' class='main-pg-pic singlepost')
    img(src='../images/singlepost.png' class='singlepost' id='singlepost')
  p Whether you need to store your bike for a month or for a year, Motospot is here 
    | to help! Our easy to use platform is here to support you in your search for better storage! 
    | No more leaving it out on the street where it becomes at the mercy of the harsh and unforgiving elements. Not to mention
    | bike theft and vandalism! 

div(class='secondary-content')
  h1 Make money storing motorcycles!
  img(src='../images/garage.jpg' class='garage')
  p If you have extra space in your garage, you can post it here and get interested riders
    |  looking for a place to park their ride! And the best part? 
    span(class='aquabold') Motospot 
    | is FREE to use! Just post your spot and await riders actively seeking a place for their
    | motorcycles. There has never been an easier way to earn passive income!
    
  
div(class='secondary-border secondary-bg-image secondary-content' id='faq')
  h1 Frequently Asked Questions: 
  h3 How do I delete my ad?
  p When you create your ad, an email will be sent to the email provided giving you the option
    |  to delete the ad from there. But in case that method does not work for you,
    strong  all ads automatically expire one month from the post date.
  h3 What qualifies an acceptable 'spot' ?
  p We all know that riders take pride in their motorcycles. Therefore they won't just store their ride anywhere. A decent spot is generally in a garage or covered 
    | car-port. The spot must be big enough to accomodate at least one full motorcycle and have enough room to 
    | get a motorcycle in and out of the space without much hassle. To help attract tenants be sure to include the limitations/merits of your spot in the 'description' section of your post.
  h3 Do I need to provide an address with my post?
  p You do not need to disclose the exact address of the spot however we at least ask for a zip code and city 
    | to allow your post to be found by area. 
  h3 Does motospot handle things like processing payments, rental agreements, ect..?
  p Motospot does not process payments or offer any legal services. We simply offer a platform to connect landlords with tenants. Things like
    |  processing payments, collecting payments, rental agreements, ect... are all responsibilites that the landlord
    strong  must handle on their own.
  h3 Will motospot manage my properties?
  p Motospot is not a property management company. We will not handle the scheduling of storage, rental agreement enforcements, fines or payment processing. 
