//- extends layout 
//- 
//- 
//- 
//- block content 


div(class='postform')
  h1 Post a spot
  form(action='/postaspot' method='post')
    label(for='title') Title of post:
    input(type='text' placeholder='(eg: Spot in NE!)' name='title' required)
    label(for='price') How much is rent per month?
    span $ 
      input(type='number' placeholder='50' name='price' required)
    label(for='email') Please enter your email: 
    input(type='email' name='email' placeholder='(eg: john.doe@gmail.com)' required)
    label(for='phone') Phone Number:
    input(type='tel' name='phone' placeholder='(xxx)-xxx-xxxx')
      
    
    label(for='fullName') Enter your full name: 
    input(type='text' name='fullName' placeholder='(eg: John Doe)' required)
    label(for='addressLine1') Address Line 1:
    input(type='text' name='addressLine1' placeholder='1234 NE Main St' required)
    label(for='addressLine2') Address Line 2:
    input(type='text'  name='addressLine2')
    label(for='city') City:
    input(type='text' name='city' placeholder='Portland' required)
    label(for='stateProvinceRegion') State / Province / Region:
    select(required name='stateProvinceRegion')
      option(value='AL') AL
      option(value='AK') AK
      option(value='AR') AR
      option(value='AZ') AZ
      option(value='CA') CA
      option(value='CO') CO
      option(value='CT') CT
      option(value='DC') DC
      option(value='DE') DE
      option(value='FL') FL
      option(value='GA') GA
      option(value='HI') HI
      option(value='IA') IA
      option(value='ID') ID
      option(value='IL') IL
      option(value='IN') IN
      option(value='KS') KS
      option(value='KY') KY
      option(value='LA') LA
      option(value='MA') MA
      option(value='MD') MD
      option(value='ME') ME
      option(value='MI') MI
      option(value='MN') MN
      option(value='MO') MO
      option(value='MS') MS
      option(value='MT') MT
      option(value='NC') NC
      option(value='NE') NE
      option(value='NH') NH
      option(value='NJ') NJ
      option(value='NM') NM
      option(value='NV') NV
      option(value='NY') NY
      option(value='ND') ND
      option(value='OH') OH
      option(value='OK') OK
      option(value='OR') OR
      option(value='PA') PA
      option(value='RI') RI
      option(value='SC') SC
      option(value='SD') SD
      option(value='TN') TN
      option(value='TX') TX
      option(value='UT') UT
      option(value='VT') VT
      option(value='VA') VA
      option(value='WA') WA
      option(value='WI') WI
      option(value='WV') WV
      option(value='WY') WY
    label(for='zipOrPostal') ZIP / Postal Code:
    input(type='text' name='zipOrPostal' required)
        
    
    
    label(for='textarea') Enter a description:
    textarea(name='description' rows='10' cols='35' placeholder='eg:Spot in private garage. Access to electricity. 24/HR Access.')
    input(type='submit' value='submit')
        
