//- extends layout 
//- 
//- 
//- 
//- block content 
h1 Post a Spot:

div(class='postform')
  form(action='/postaspot' method='post')
    label(for='title') Title of post:
    input(type='text' value='title' name='title')
    label(for='firstName') Enter your first name:
    input(type='text' value='First Name' name='firstName')
    label(for='lastName') Enter your last name:
    input(type='text' value='Last Name' name='lastName')
    label(for='email') Please enter your email: 
    input(type='email' name='email' value='Please enter email')
    label(for='address') Please enter the address of the available spot:
    input(type='address' name='address' value='Please enter address')
    label(for='textarea') Enter a description:
    textarea(name='description' rows='4' cols='50')
    input(type='submit' value='submit')
        
