h2 Search Filters:
div(class='searchForm')
  //- left off here this form will not add query strings AFTER filters=t
  form(action='/browse/filter' method='GET')
    label(for='city') City:
    input(type='text' placeholder='(eg: Beverly Hills)' name='city')
    label(for='zipOrPostal') Zip or postal code:
    input(type='number' placeholder='(eg: 90210)' name='zipOrPostal')
    input(type='submit' value='Apply')
    
