extends layout 

block content 
  body(class='main')
    nav
      ul
        li 
          a(href='/')
            img(src='../images/logo.png' id='logo')
    
    h2(class='deleted') #{message}
    a(href='../browse')
      button(type='button' class='landing-button' id='delete-pg-btn') Browse Spots
    a(href='../#faq')
      button(type='button' class='landing-button' id='delete-pg-btn') FAQ
      
    include includes/footer.pug
