extends layout

block content
  nav
    a(href='/') Home 
    | |
    a(href='/browse') Browse
    | |
    a(href='/FAQ') FAQ
  h1= error.status + ' ' +  message
  h2 Whoops! Looks like something went wrong!
