extends layout

block content
  body(class='main error')
    nav
      ul
        li 
          a(href='/')
            img(src='../images/logo.png' id='logo')
      ul(class='right')
        li 
          a(href='/#faq')
            | FAQ 
        li
          a(href='mailto:motospot.services@gmail.com')
            | Support
        li 
          a(href='/browse')
            | Browse
    if error.status === 404
      h1 Hey now! Stay on the beaten path!
    
    h1  #{error.status}
    
    h2 #{error.message}
    
    
  
