extends layout

block content
  h1 How it works: (Hint: Its actually pretty simple!)
  p Our goal at motospot is to connect riders who lack sufficient 
    | storage for their ride with other riders who may have extra space. So if you
    | ride and you find yourself with an extra spot in your garage, you can post it 
    |here for riders in need of a spot to store their ride. 
  
  
