extends layout

block content
  body
    nav
      a(href='/') Motospot
      | |
      a(href='/browse') Browse
    h1 How it works: (Hint: Its actually pretty simple!)
    p Our goal at motospot is to connect riders who lack sufficient 
      | storage for their ride with other riders who may have extra space. So if you 
      | find yourself with an extra spot in your garage, you can post it
      |   here for riders in need of a spot to store their ride. 
    
    h2 Frequently Asked Questions: 
    h3 How do I delete my ad?
    p When you create your ad, an email will be sent to the email provided giving you the option
      |  to delete the ad from there. But in case that method does not work for you,
      strong  all ads automatically expire one month from the post date.
      
    h3 Does Motospot handle things like processing payments, rental agreements, ect..?
    p Motospot does not process payments or offer any legal services such as rental agreements. We simply offer a platform to connect landlords with tenants (think 
      a(href='https://craigslist.org') craigslist
      | ). Things like
      |  processing payments, collecting payments, rental agreements, ect... are all responsibilites that the landlord
      |  must handle on their own.
  
