extends layout

block content
  header
    h1 Welcome to #{title}
    p What would you like to do? 
    
  div 
    div
      a(href="/postaspot"): input(type='button' value="Post a spot" class="btn")
    div 
      a(href="/browse"): input(type='button' value="Look for a spot" class="btn") 
  
  
