extends layout

block content
  body
    div(class='main-header landing-background')
      
      header
        h1 Welcome to Motospot!
        p Storage sharing for motorcycles!
        div(id='landing-buttons')
          a(href='/browse')
            button(type='button' class='landing-button') Post/Seek a spot
          a(href='/#howitworks' id='landing-btn-1')
            button(type='button' class='landing-button') How it works
          a(href='/#faq' id='landing-btn-2')
            button(type='button' class='landing-button') FAQ
    div(class='faq-background faq' id='howitworks')
      include includes/faq.pug
      include includes/footer.pug
      
  
  
