extends layout

block content
  body(id='landing-background')
    include includes/error.pug
    div(class='main-header')
      header
        h1 Welcome to Motospot!
        p What would you like to do? 
        
        a(href='/browse')
          button(type='button' class='button') Post a spot
        a(href='/browse#browse')
          button(type='button' class='button') Seek a spot
        a(href='/faq')
          button(type='button' class='button') How it works
  
  
