extends layout

block content
  body
    include includes/error.pug
    div(class='main-header landing-background')
      header
        h1 Welcome to Motospot!
        p What would you like to do? 
        
        a(href='/browse')
          button(type='button' class='landing-button') Post a spot
        a(href='/browse#browse')
          button(type='button' class='landing-button') Seek a spot
        a(href='/#faq')
          button(type='button' class='landing-button') How it works
    div(class='faq-background faq' id='faq')
      div(class='secondary-border')
        include includes/faq.pug
  
  
