extends layout

block content
  header
    h1 Welcome to Motospot!
    p What would you like to do? 
    
  div 
      a(href="/browse"): input(type='button' value="Post a spot" class="btn")
      a(href="/browse#browse"): input(type='button' value="Look for a spot" class="btn") 
      a(href='/faq'): input(type='button' value='How it works' class='btn')
  
  
