doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    unless !err
      p(style='color: red;')= err
    block content
      
  script(type="text/javascript" src='/javascripts/basicscripts.js')
