doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    unless !error
      p= error
    block content
      
  script(type="text/javascript" src='/javascripts/basicscripts.js')
