extends layout

block content
  body(class='main')
    include includes/error.pug
    
    nav
      ul
        li 
          a(href='/')
            img(src='../images/logo.png' id='logo')
    div(class='group')
      include includes/postform.pug
      div(class='browse')
        h1(id='browse') Browse posts: 
        include includes/searchForm.pug
        include includes/browseposts.pug
    include includes/footer.pug
        
