extends layout

block content
  nav
    a(href='/') Home 
    | |
    a(href='/FAQ') FAQ
    
  include includes/postform.pug
  div(class='browse')
    include includes/searchForm.pug
    include includes/browseposts.pug
