extends layout

block content
  body(class='main')
    
    nav
      ul
        li 
          a(href='/')
            img(src='../images/logo.png' id='logo')
      ul(class='right')
        li
          a(href='mailto:motospot.services@gmail.com')
            | Support
        li 
          a(href='/#faq')
            | FAQ
    div(class='group')
      
      div(class='browse')
        h1(id='browse') Browse Posts: #{city || zipOrPostal} 
        include includes/searchForm.pug
        include includes/browseposts.pug
      include includes/postform.pug
    div(class='footer')
      include includes/footer.pug
    
    script.
      function getLocation() {
      if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(updatePosts);
      } else {
      console.log("This browser does not support geolocation");
      }
      }
      function updatePosts(position) {
      window.location = 'http://localhost:3000/lonlat?usrCoords=' + position.coords.latitude + ',' + position.coords.longitude
      }
      window.onload = function() {
      let url = new URL(window.location.href);
      if (!(url.searchParams.get('page') || url.searchParams.get('city') || url.searchParams.get('zipOrPostal'))) {
        getLocation();
      }
      }   
        
