extends layout

block content
  h1 #{post.title}
  //- Needs to be in order of button -> div for the hideshow(e) to work
  button(onClick='hideshow(event);') Contact The poster
  div(class='hideshow')
    p Contact the poster: #{post.email}
    
  //- Needs to be in order of button -> div for the hideshow(e) to work
  button(onclick='hideshow(event)') Show address
  div(class='hideshow')
    p #{post.address}
  p #{post.description}
