extends layout

block content 
  body(class='main error')
    nav
      ul
        li 
          a(href='/')
            img(src='../images/logo.png' id='logo')
      ul(class='right')
        li
          a(href='mailto:motospot.services@gmail.com')
            | Support
        li 
          a(href='/#faq')
            | FAQ
    h1 MOTOSPOT TERMS OF USE (TOU) :
    div(class='terms secondary-border')
      p 
        strong(class='aquabold') FIRST AND FOREMOST 
        | thank you for using Motospot! We have spent countless hours(and cups of
        |  coffee) creating this platform. So we will try and make this quick and straight to the 
        | point. We hope that all of our users are able to find Motospot useful and can enjoy the service 
        | as it is intended to be enjoyed. By interacting with our services, you agree to these Terms of
        | Use (“TOU”). If you are accessing Motospot on behalf of a company or business, said business 
        | agrees to our TOU. If you or your business do not agree with the TOU, then you should not be 
        | permitted to use our site. At any point in time these terms can be updated at our 
        | discretion. You are responsible for periodically checking in on these terms for any changes that
        | may impact your ability to use our site. 
        
      p 
        strong(class='aquabold') PROPER USE 
        | is the usage of Motospot services in a way that is natural for a human being. Meaning that 
        | you are not permitted to use or create third party software (except for general purpose web 
        | browsers and email clients) that interact with Motospot directly for purposes such as searching, 
        | downloading and/or uploading content. You therefore agree not to copy or collect content from our 
        | site with the use of robots, scripts, scrapers or any automated or manual equivalent. You agree not
        | to collect or misuse Motospot user’s information other than for contacting users for inquiries in 
        | regard to their post. The mishandled use of our users’ information is a direct breach of these TOU.
      
      p 
        strong(class='aquabold') USE OF PROFANITY AND ABUSIVE BEHAVIOR. 
        | We want all our users to have a positive experience while using our platform. Therefore the use of 
        | any profanity and of abusive behavior is prohibited on our site. You can report any breaches of the
        |  TOU 
        a(href='mailto:motospot.services@gmail.com') here
        |. 
        | Breaching these terms can lead to Motospot removing 
        | your ad and blocking further postings associated with your email. 
      
      p 
        strong(class='aquabold') LIQUIDATED DAMAGES AND LEGAL LIABILITY. 
        | If you commit a breach of the TOU you are therefore responsible for any legal ramifications whether
        | brought on by Motospot or by the user(s) in which you violated their rights while using our site, 
        | including seeking legal council should they choose to do so. You agree that if you violate these TOU 
        | or encourage, support, or benefit from others doing so, you will be jointly and severally liable to 
        | motospot for liquidated damages as follows for: (A) Collecting/harvesting Motospot users’ information,
        | including their name, phone number, email address, physical address or any other information they 
        | choose to disclose on their ad(s) - $10 per violation; (B) Submitting information to Motospot on behalf
        | of another person business or submitting another's personal or commercial information without their written
        | consent - $100 per violation; (C) Submitting misrepresenting information about yourself or the property
        | associated with your ad - $100 per violation; (D) Using Motospot users’ information to contact them for 
        | any reason other than for the original intended purpose for their posting - $50 per violation. Understand
        | that these fees are not punishments for any wrongdoing but a way to protect us and our users from these associated damages.
        | Motospot and it’s employees are NOT liable for any losses that you may have occurred while using Motospot.
        | Including but not limited to (1) Damaged or stolen property and (2) loss of any monetary value.  
      
      p(class='aquabold')  We want Motospot to be enjoyed by our users and if you have any questions or concerns 
        | regarding these terms you can contact us at motospot.services@gmail.com
    div(id='termsfooter')    
      include includes/footer
