/* Base Styles ---- */


 /* Main Styles ---- */
* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  height: 100%;
}
.main-header {
  padding-top: 9rem;
  height: 100vh;
}
.main-header h1 {
  color: darkgoldenrod;
  font-size: 10vh;
  line-height: 1;
  text-shadow: 10px 5px 15px black;
}
.main-header p {
  color: darkgoldenrod;
  font-size: 5vh;
  text-shadow: 10px 5px 20px black;
  text-decoration: underline;
}
.button {
  background-color: black;
  text-decoration: none;
  border: none;
  color: white;
  text-align: center;
  padding: 1.5vh 4vh;
  margin: 1rem;
}
.button:hover {
  color: darkgoldenrod;
}

#landing-background {
  background: url('../images/landing.jpg') no-repeat center;
  background-size: cover;
}
.postform textarea {
  resize: none;
}

a {
  color: #00B7FF;
}
/* Pseudo-classes ---- */


/* layout styles ---- */
nav {
  margin-bottom: 3%;
  margin-top: 3%;
}
.browse {
  width: 60%;
  float: right;
  border: 1px dotted black;

}

label {
  display: block;
}

input[type='submit'] {
  display: block;
  margin: auto;
}

nav ul li {
  list-style: none;
  display: inline;
}

.postform {
  float: left;
  width: 40%;
  border: 1px dotted black;
  overflow: auto;
}

.hideshow {
  display: none;
}

#map {
  width: 50%;
  height: 400px;
  margin: auto;
  margin-bottom: 10%;
}

.group {
  margin-left: 10%;
  margin-right: 10%
}
/* floated Columns ---- */

/* Float Clearfix ---- */
.group:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries ---- */
@media(max-width: 1024px) {
  .browse {
    width: 70%;
    margin: auto;

  }
  .postform {
    width: 30%;
  }
  .group {
    margin: 0;
  }
}
@media(max-width: 768px) {
  .postform,
  .browse {
    width: 100%;
  }
  #map {
    width: 90%;
  }
}
